* {
margin: 0;
padding: 0;
outline: none;
}

body{
background-color:#282729;
}


#wrapper{
width: 1015px;
margin-left: auto;
margin-right: auto;
margin-top:40px; 
border: 1px solid red;
clear:both;
/* min-height:544px; */
}

#header{background-color:#42484A;
padding-left:45px; 
}

#content{
margin-top:180px;
}

#contentPic{
background-color:#DCECF2;
width:520px;
margin-left:auto;
margin-right:auto;
}

#container{background-color: #42484A;
/* width:860px; */
}
/*____________________________ search box elements */

#roundS{
border: 1px solid black;
-moz-border-radius:3px;
border-radius: 3px;
width:335px;
height:45px;  
}

#seaBtn{
border:1px solid white;
-moz-border-radius:3px;
border-radius: 3px;
/* height: 45px; */

}

#firstlvl{
margin-left:10px;
margin-top: 5px;

}

#seclvl{
margin-left:10px;
margin-top:5px;
}
#seaHold{
border: 1px solid #A0A0A0;
width:510px;
height: 135px;
-moz-border-radius:3px;
border-radius: 3px;
margin-left: auto;
margin-right: auto;
background-color: #C4D24F;
}

#user{
width: 150px;
border:1px solid black;
-moz-border-radius:3px;
border-radius: 3px;
height: 20px;
}

#pass{width:150px; 
border:1px solid black;
-moz-border-radius:3px;
border-radius: 3px;
height: 20px;
}

#logBtn{
border:1px solid white;
-moz-border-radius:3px;
border-radius: 3px;
/* height: 45px; */
}
/*___________________________ giant pic */
#content{
margin-left: auto;
margin-right: auto;
}

#picSp{
margin-left: 215px;
/* margin-right: auto; */
}

.userComm{
background-color:#C0CBCE;
}
/* ____________________________fonts */
.hSearch{
font: 36pt Myriad Pro,arial;
color:#919191;
}

.hFont{
font:36pt MyriadPro,arial;
color:#919191;

}

.sFont{
font: 30pt Myriad Pro,arial;

}

.login{
font: 12pt Myriad Pro,arial;

}

.lFont{
font: 15pt Myriad Pro,arial;

}

.memF{
font: 20pt Myriad Pro,arial;

}
